.wmd-poll-ui-button:before {
  content: "\f0ca"
}

.poll-ui-modal {
  table {
    width: 100%;
    .options input, .number-options input {
      width: 3em;
    }
    .number-options {
      display: none;
    }
  }
  .content {
    max-height: 335px;
    min-height: 200px;
    overflow-y: scroll;
    clear: both;
  }
}