.wmd-pollui-button:before {
  content: "\f0ca"
}

.pollui-modal {
  .poll-options input, .poll-number-options input {
    width: 3em;
  }
  .poll-number-options {
    display: none;
  }
  .content {
    max-height: 335px;
    min-height: 200px;
    overflow-y: scroll;
    clear: both;
  }
}