.wmd-poll-ui-button:before {
  content: "\f0ca"
}

.poll-ui-modal {
  table {
    width: 100%;

    td {
      padding: 0 .5em;
    }

    td:nth-child(even) {
      text-align: right;
    }

    td .select2-choice {
      text-align: initial;
    }

    .numeric-field input {
      width: 3em;
    }
  }
  .content {
    max-height: 335px;
    min-height: 200px;
    overflow-y: scroll;
    clear: both;
  }
}