.wmd-poll-ui-button:before {
  content: "\f0ca"
}

.poll-ui-modal {
  table {
    width: 100%;

    td {
      padding: 0 .5em;
    }

    td:nth-child(even) {
      text-align: right;
    }

    .options input, .number-options input {
      width: 3em;
    }

    .number-options {
      display: none;
    }
  }
  .content {
    max-height: 335px;
    min-height: 200px;
    overflow-y: scroll;
    clear: both;
  }
}